/* 
    Document   : alumno
    Created on : 11/09/2010, 12:36:27 PM
    Author     : carlos
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#sesion{
    padding:10px;
    width: 40%;
    margin:auto;
}

#sesion h2{
    text-align: center;
    margin:auto;
}

#sesion #enviar{
    text-align:right;
}

#sesion #registro_link{
    text-align:right;
    
}

#sesion #registro_link a{
    color:#519344;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:normal;
}

#sesion #registro_link a:link{
    text-decoration:none;
}



#sesion #registro_link a:hover{
    color:#273A8D;
    text-decoration:none;
}



#login{
    text-align: right;
}

#log_out{
    text-align: right;
}

#nota{
    text-align: center;
    font-size: 10px;
}

/** Css para la vista de registro**/
#new{
    padding:10px;
    width: 50%;
    margin:auto;
}


#new h2{
    text-align: center;
    margin:auto;
}

/*#registro tr{
    height: 30px;
}*/

#new .tdLabel{
    width:150px;
}


#new #enviar{
    text-align:right;
}



/**css para la vista de show **/

#show{
    padding:10px;
    width: 95%;
    margin:auto;
}

#show h2{
    text-align: center;
    margin:auto;
}

#show h4{
    text-align: center;
    margin:auto;
}

#show #datos_alumno{
    border:1px solid silver;
    width: 70%;
    padding: 10px;
}

#show #datos_alumno tr{
    height: 25px;
}

#show .tdLabel{
    width:150px;
}

#show #lista_vacantes{
    border:1px solid silver;
    padding: 10px;

}

/** Css para la vista de edicion**/
#edit{
    padding:10px;
    width: 50%;
    margin:auto;
}


#edit h2{
    text-align: center;
    margin:auto;
}

#edit .tdLabel{
    width:150px;
}


#edit #enviar{
    text-align:right;
}






